@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: "Roboto", Arial, sans-serif !important;
    scroll-behavior: smooth !important;
}

html,
body {
    background-color: #cbdaec !important;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

.panel-link {
    text-decoration: none;
    color: inherit;
}

.panel-link:hover {
    color: black;
}

.profile-img {
    width: 4rem !important;
    height: auto;
}

.profile-img-news {
    width: 3.5rem !important;
    height: auto;
}

.profile-img:hover,
.profile-img-news:hover {
    filter: brightness(95%);
}

.post-link {
    color: inherit !important;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline !important;
}