.share-btn:hover,
.post-icon:hover>svg {
    color: #212529 !important;
    cursor: pointer;
}

.post-img:hover {
    filter: brightness(97%);
    cursor: pointer;
}

.card .modal-content {
    border: none !important;
    background-color: transparent !important;
}

.hashtag {
    text-decoration: none !important;
}

.hashtag:hover {
    background-color: #212529 !important;
    color: white;
}